/* --------------------------------------------- */
/*  AWS Developer Content Styles                 */
/* --------------------------------------------- */

body, div, p, td, th {
  font-family : helvetica,sans-serif, arial;
  font-size : 12px;
  color : #000000;
}

.aws-header {
  overflow:hidden;
  min-width:1100px;
  width:100%;
  border-bottom:5px solid #004b91;
}

.aws-h1, h1{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.aws-h2, h2{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  color: #c60;
}
.aws-h3, h3{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}

/*table ID selector styles*/
#aws-table {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  width:95%;
}

#aws-table td{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  vertical-align:top;
}

#aws-table th {
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  vertical-align:top;
  background-color: #eeeeee;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

/*code, note, and example styles*/
.aws-code {
  font-family: "Courier New", Courier, mono;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000066;
  padding: 5px;
  background-color: #eff7ff;
  border: 1px dashed #333;
  width:99%;
}
.aws-code-inline {
  font-family: "Courier New", Courier, mono;
  font-size: 11px;
}
.aws-note {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-top-color: #CCCCCC;
  border-right-color: #CCCCCC;
  border-bottom-color: #CCCCCC;
  border-left-color: #CCCCCC;
  padding: 10px;
  width:95%;
  margin-left: 20px;
  margin-right: 20px;
}

.aws-nav-logo {
  float: left;
  width: 218px;
  padding: 14px 0 14px 0px; }

.aws-nav-logo a {
  display: block; }

.aws-nav-logo span {
  display: block;
  width: 105px;
  height: 39px;
  border: 0;
  margin: auto;
  background: transparent url("/images/aws_logo_105x39.png") no-repeat scroll 0 0;
  overflow: hidden; }

.aws-nav-logo span:before {
  content: '';
  display: block;
  width: 0;
  height: 150%; }

